<tr data-id="~id~">
    <td width="10%">
        <a href="#"
           data-model="modules\articles\models\articles_tags"
           data-m-action="dynamic_edit"
           data-m-context='tr[data-id="~id~"]'
           title="*Edit*"
           class="edit"><i class="fa fa-edit"></i></a>
        <a href="#"
           data-model="modules\articles\models\articles_tags"
           data-m-action="dynamic_edit"
           data-m-context='tr[data-id="~id~"]'
           class="delete"
           title="*Delete*"><i class="fa fa-trash"></i></a>
    </td>
    <td width="80%" class="text-left"><span data-edit="tag">~tag~</span></td>
</tr>