<table cellpadding="0" cellspacing="0" class="admin-overview">
    <thead>
        <tr>
            <th width="10%"></th>
            <th width="80%" class="text-left">*Tag*</th>
        </tr>
    </thead>
    ~items~
    <tr class=" editable" data-id="null">
        <td width="10%">
            <a href="#"
               data-model="modules\articles\models\articles_tags"
               data-m-action="dynamic_edit"
               data-m-context="tr[data-id='null']"
               class="edit save"><i class="fa fa-edit"></i></a>
            <a href="#"
               data-model="modules\articles\models\articles_tags"
               data-m-action="dynamic_edit"
               data-m-context="tr[data-id='null']"
               class="delete"
               title="*Delete*"><i class="fa fa-trash"></i></a>
        </td>
        <td class="text-left" width="80%"><span data-edit="tag"><textarea style="width:100%;height:40px;" placeholder="*Type new tag*"></textarea></span></td>
    </tr>
</table>